<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.autoinspection.polaris.model.mapper.AppointmentLimitMapper">
	<insert id="insertLimit" parameterType="com.autoinspection.polaris.model.entity.AppointmentLimitEntity" >
		<bind name="currentTime" value="new java.util.Date()" />
		insert into bizappointmentlimit (APPOINTMENTDATE, `LIMIT`, CREATETIME, UPDATETIME, OPERATORID, STATIONID) 
		values (#{appointmentDate}, #{limit}, #{currentTime}, #{currentTime}, #{operatorId}, #{stationId})
		<selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
	</insert>
	<update id="updateLimit" parameterType="com.autoinspection.polaris.model.entity.AppointmentLimitEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		update bizappointmentlimit set APPOINTMENTDATE= #{appointmentDate}, `LIMIT`= #{limit}, STATIONID= #{stationId},
		 UPDATETIME= #{currentTime}, OPERATORID= #{operatorId} where id= #{id}
	</update>
	<delete id="deleteLimit" parameterType="int">
		<bind name="currentTime" value="new java.util.Date()" />
		update bizappointmentlimit set UPDATETIME= #{currentTime}, ENABLE= 0, OPERATORID= #{operatorId} where id= #{id}
	</delete>
	<select id="selectReserveByDate" resultType="com.autoinspection.polaris.model.entity.ReservedEntity">
	select bas.NAME, bas.id, count(*) as RESERVED from bizappointmentslot bas left join bizappointment ba 
	on bas.id = ba.SLOTID where ba.APPOINTMENTDATE = #{reqDate} and ba.STATIONID=#{stationId} group by bas.NAME, bas.id
	</select>
	<select id="selectRemainByDate" resultType="com.autoinspection.polaris.model.entity.RemainEntity">
	select id, NAME, IFNULL((select `limit`from bizappointmentlimit where APPOINTMENTDATE = #{reqDate} and STATIONID = #{stationId}), (select keyvalues from bizsysparameters where paratype = 'appointmentLimit')) as REMAIN from bizappointmentslot
	</select>
	<select id="getLimitByDate" resultType="java.lang.Integer">
	select IFNULL((select `LIMIT` from bizappointmentlimit where APPOINTMENTDATE = #{reqDate}  and STATIONID = #{stationId}), (select keyvalues from bizsysparameters where paratype = 'appointmentLimit')) as `limit` from dual;
	</select>
	<select id="getReservedByDateAndSlot" resultType="java.lang.Integer">
	select IFNULL((select count(*) as RESERVED from bizappointmentslot bas left join bizappointment ba 
	on bas.id = ba.SLOTID where ba.APPOINTMENTDATE = #{reqDate} and ba.STATIONID = #{stationId} and ba.SLOTID = #{slotId} group by bas.NAME, bas.id ), 0) as RESERVED from dual;
	</select>
	<select id="check" resultType="com.autoinspection.polaris.model.entity.AppointmentLimitEntity">
		select * from bizappointmentlimit where APPOINTMENTDATE = #{reqDate} and STATIONID = #{stationId}
	</select>
</mapper> 