<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.autoinspection.polaris.model.mapper.CustomerMapper">
	<select id="getById" parameterType="java.lang.Integer"  resultType="com.autoinspection.polaris.model.entity.CustomerEntity">
		select * from BizCustomer c where c.id=#{id}
	</select>
	<select id="listAllCustomers" resultType="com.autoinspection.polaris.model.entity.CustomerEntity">
		select * from BizCustomer where enable = 1
	</select>
	<insert id="insertCustomer" parameterType="com.autoinspection.polaris.model.entity.CustomerEntity" >
		<bind name="currentTime" value="new java.util.Date()" />
		insert into BizCustomer (NAME, CONTACTNAME, CONTACTPHONE, ADDRESS, SALESMAN, CREATETIME, UPDATETIME, OPERATORID) 
		values (#{name}, #{contactName}, #{contactPhone}, #{address}, #{salesman}, #{currentTime}, #{currentTime}, #{operatorId})
		<selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
	</insert>
	<update id="updateCustomer" parameterType="com.autoinspection.polaris.model.entity.CustomerEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		update BizCustomer set NAME= #{name}, CONTACTNAME= #{contactName}, CONTACTPHONE= #{contactPhone}, ADDRESS= #{address}, SALESMAN= #{salesman}
		 UPDATETIME= #{currentTime}, OPERATORID= #{operatorId} where id= #{id}
	</update>
	<delete id="deleteCustomer" parameterType="int">
		<bind name="currentTime" value="new java.util.Date()" />
		update BizCustomer set UPDATETIME= #{currentTime}, ENABLE= 0, OPERATORID= #{operatorId} where id= #{id}
	</delete>
</mapper>