<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoinspection.polaris.model.mapper.MaintenanceMapper">
	<insert id="insertMaintenance">
		<bind name="currentTime" value="new java.util.Date()" />
		insert into bizmaintenance (INSPECTIONID, PLATE, DRIVERPHONE, OPERATORNAME,
		CREATETIME, UPDATETIME, OPERATORID)
		values (#{en.inspectionId}, #{en.plate},
		#{en.driverPhone}, #{en.operatorName}, #{currentTime},
		#{currentTime},
		#{operatorId})
		<selectKey keyProperty="en.id" resultType="int">
			select
			LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="updateMaintenance">
		<bind name="currentTime" value="new java.util.Date()" />
		update bizmaintenance set INSPECTIONID=#{en.inspectionId}, PLATE=#{en.plate}, 
		DRIVERPHONE=#{en.driverPhone}, OPERATORNAME=#{en.operatorName}, UPDATETIME=#{currentTime},
		OPERATORID=#{operatorId} where id = #{en.id}
	</update>
	<select id="getByInspectionId" parameterType="java.lang.Long" resultType="com.autoinspection.polaris.model.entity.MaintenanceEntity">
		select * from bizmaintenance where inspectionId = #{inspectionId}
	</select>
	
	<select id="search" resultType= "com.autoinspection.polaris.model.entity.OrderPayEntity">
	select 
	bm.id,
	bm.PLATE,
	bm.CREATETIME,
	bv.CUSTOMERNAME,
	bm.PAYSTATUS
	from bizmaintenance bm left join bizvehicleinfo bv on bm.PLATE = bv.PLATE
	where 1 = 1
	<if test = "en.payStatus != null">
		and bm.PAYSTATUS = #{en.payStatus}
	</if>
	<if test = "en.startDate != null and en.startDate != ''">
	and bm.CREATETIME &gt; #{en.startDate} 
	</if>
	<if test = "en.endDate != null and en.endDate != ''">
	and bm.CREATETIME &lt; #{en.endDate}
	</if>
	<if test = "en.isRetail != null and en.isRetail != 0">
	and bv.CUSTOMERNAME not in (select CODE from bizcustomer)
	</if>
	<if test = "en.customerName != null and en.customerName != ''">
	and bv.CUSTOMERNAME like concat ('%', #{en.customerName},'%')
	</if>
	<if test = "en.plate != null and en.plate != ''">
	and bm.PLATE like concat ('%', #{en.plate}, '%')
	</if>
	LIMIT #{skip}, #{pageSize}
	</select>
	<select id="count" resultType = "java.lang.Integer">
	select 
	count(*)
	from bizmaintenance bm left join bizvehicleinfo bv on bm.PLATE = bv.PLATE
	where 1 = 1
	<if test = "en.payStatus != null">
		and bm.PAYSTATUS = #{en.payStatus}
	</if>
	<if test = "en.startDate != null and en.startDate != ''">
	and bm.CREATETIME &gt; #{en.startDate} 
	</if>
	<if test = "en.endDate != null and en.endDate != ''">
	and bm.CREATETIME &lt; #{en.endDate}
	</if>
	<if test = "en.isRetail != null and en.isRetail != 0">
	and bv.CUSTOMERNAME not in (select CODE from bizcustomer)
	</if>
	<if test = "en.customerName != null and en.customerName != ''">
	and bv.CUSTOMERNAME like concat ('%', #{en.customerName},'%')
	</if>
	<if test = "en.plate != null and en.plate != ''">
	and bm.PLATE like concat ('%', #{en.plate}, '%')
	</if>
	</select>
	<update id="updatePayStatusById">
		<bind name="currentTime" value="new java.util.Date()" />
		update bizmaintenance set PAYSTATUS = #{payStatus},
		UPDATETIME=#{currentTime},
		OPERATORID=#{operatorId}
		where id = #{id}
	</update>
</mapper>