<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.autoinspection.polaris.model.mapper.PaymentMapper">
	<insert id="insertPayment" >
		<bind name="currentTime" value="new java.util.Date()" />
		insert into bizpayment (ORDERID, PAYSTATUS, AMOUNT, CREATETIME, UPDATETIME, FLOWNO) 
		values (#{en.orderId}, #{en.payStatus}, #{en.amount}, #{currentTime}, #{currentTime}, #{flowNo}
		<selectKey keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
	</insert>
	<update id="updatePayment" >
		<bind name="currentTime" value="new java.util.Date()" />
		update bizpayment set PAYSTATUS = #{payStatus}, UPDATETIME = #{currentTime} where id = #{id}
	</update>
	<select id="getByOrderId" resultType="com.autoinspection.polaris.model.entity.PaymentEntity">
		select * from bizpayment where ORDERID = #{orderId}
	</select>
</mapper>