<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.autoinspection.polaris.model.mapper.ServiceMapper">
	<select id="getById" parameterType="java.lang.Integer"  resultType="com.autoinspection.polaris.model.entity.ServiceEntity">
		select * from bizservice s where s.ENABLE = 1 and s.id=#{id}
	</select>
	<select id="search" resultType="com.autoinspection.polaris.model.entity.ServiceEntity">
		select * from bizservice where ENABLE = 1 
		
		<if test=" level1 !=null and level1 != '' ">
			and NAME ＝ #{level1} and  DESCRIPTION like CONCAT('%', #{search}, '%') 
		</if>
		
		<if test=" level1 ==null or level1 == '' ">
			and  DESCRIPTION like CONCAT('%', #{search}, '%') 
		</if>
		
		
	</select>
	<select id="listAllServices" resultType="com.autoinspection.polaris.model.entity.ServiceEntity">
		select * from bizservice where enable = 1
	</select>
	<insert id="insertService" parameterType="com.autoinspection.polaris.model.entity.ServiceEntity" >
		<bind name="currentTime" value="new java.util.Date()" />
		insert into bizservice (NAME, DESCRIPTION, STATUS, CREATETIME, UPDATETIME, OPERATORID) 
		values (#{name}, #{description}, #{status}, #{currentTime}, #{currentTime}, #{operatorId})
		<selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
	</insert>
	<update id="updateService" parameterType="com.autoinspection.polaris.model.entity.ServiceEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		update bizservice set NAME= #{name}, DESCRIPTION= #{description}, STATUS= #{status},
		 UPDATETIME= #{currentTime}, OPERATORID= #{operatorId} where id= #{id}
	</update>
	<delete id="deleteService" parameterType="int">
		<bind name="currentTime" value="new java.util.Date()" />
		update bizservice set UPDATETIME= #{currentTime}, ENABLE= 0, OPERATORID= #{operatorId} where id= #{id}
	</delete>
</mapper>