<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.autoinspection.polaris.model.mapper.TirePriceMapper" >
	<select id="getById" parameterType="java.lang.Integer" resultType="com.autoinspection.polaris.model.entity.TirePriceEntity">
		select * from biztireprice s where s.id=#{id}
	</select>
	<select id="listTirePrices" resultType="com.autoinspection.polaris.model.entity.TirePriceEntity">
		select * from biztireprice where enable = 1
	</select>
	<select id="findByTireBrand" resultType="com.autoinspection.polaris.model.entity.TirePriceEntity">
		select * from biztireprice where enable = 1 
		<if test=" brand != null and brand != '' ">
			and BRAND = #{brand}
		</if>
		<if test=" search != null and search != '' ">
			and description like CONCAT('%', #{search},'%')
		</if>
		 
	</select>
	<select id="findByTireBrandAndStripe" resultType="com.autoinspection.polaris.model.entity.TirePriceEntity">
		select * from biztireprice where enable = 1 
		<if test=" brand != null and brand != '' ">
			and BRAND = #{brand}
		</if>
		<if test=" stripe != null and stripe != '' ">
			and STRIPE = @#{stripe}
		</if>
		 
	</select>
	<insert id="insertTirePrice">
		<bind name="currentTime" value="new java.util.Date()" />
		insert into biztireprice (BRAND, DESCRIPTION, STRIPE, PRICE, CREATETIME, UPDATETIME, OPERATORID,model)
		values (#{brand}, #{description}, #{stripe}, #{price}, #{currentTime}, #{currentTime}, #{operatorId},#{model})
		<selectKey keyProperty="id" resultType="int">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>
	<update id="updateTirePrice" parameterType="com.autoinspection.polaris.model.entity.TirePriceEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		update biztireprice set BRAND= #{brand}, DESCRIPTION= #{description}, STRIPE= #{stripe}, PRICE= #{price},
		UPDATETIME= #{currentTime}, OPERATORID= #{operatorId} where id= #{id}
	</update>
	<delete id="deleteTirePrice" parameterType="int">
		<bind name="currentTime" value="new java.util.Date()" />
		update biztireprice set UPDATETIME= #{currentTime}, ENABLE= 0, OPERATORID= #{operatorId} where id= #{id}
	</delete>
</mapper> 