<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.autoinspection.polaris.model.mapper.UserMapper" >	
	<select id="getById" parameterType="java.lang.Integer"  resultType="com.autoinspection.polaris.model.entity.UserEntity">
		select * from User u where u.id=#{id}
	</select>
	<select id="getByNameAndPassword" parameterType="java.lang.String" resultType="com.autoinspection.polaris.model.entity.UserEntity">
		select * from User u where u.enable = 1 and u.NAME=#{name} and u.PASSWORD=#{pwd}
	</select>
	<select id="getByName" parameterType="java.lang.String" resultType="com.autoinspection.polaris.model.entity.UserEntity">
		select * from User u where u.enable = 1 and u.NAME=#{name}
	</select>
	<select id="listAllUsers" resultType="com.autoinspection.polaris.model.entity.UserEntity">
		select * from User u where enable = 1
	</select>
	<select id="listUsersAdmin" resultType="com.autoinspection.polaris.model.entity.UserEntity">
		select * from User u where enable = 1 and role = 1
	</select>
	<select id="listUsersAdminSearch" resultType="com.autoinspection.polaris.model.entity.UserEntity">
		select * from User u where enable = 1 and role = 1
		<if test = "name != null and name != '' " >
			and NAME like CONCAT('%', #{name},'%')
		</if>
	</select>
	
	<insert id="insertUser" parameterType="com.autoinspection.polaris.model.entity.UserEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		insert into user (NAME, PASSWORD, ROLE, STATION, STATIONID,CREATETIME, UPDATETIME, OPERATORID)
		values(#{name}, #{password}, #{role}, #{station}, #{stationId}, #{currentTime}, #{currentTime}, #{operatorId})
		<selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
	</insert>
	<update id="updateUser" parameterType="com.autoinspection.polaris.model.entity.UserEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		update user set NAME=#{name}, PASSWORD=#{password}, ROLE=#{role}, STATION=#{station}, STATIONID=#{stationId},
		UPDATETIME= #{currentTime}, OPERATORID= #{operatorId} where id= #{id}
	</update>
	<delete id="deleteUser" parameterType="int">
		<bind name="currentTime" value="new java.util.Date()" />
		update user set UPDATETIME= #{currentTime}, ENABLE= 0, OPERATORID= #{operatorId} where id= #{id}
	</delete>
</mapper>