<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.autoinspection.polaris.model.mapper.WXUserMapper" >	
	<select id="getById" parameterType="java.lang.Integer"  resultType="com.autoinspection.polaris.model.entity.WXUserEntity">
		select * from wxuser u where u.id=#{id}
	</select>
	<insert id="insertWXUser" parameterType="com.autoinspection.polaris.model.entity.WXUserEntity">
		<bind name="currentTime" value="new java.util.Date()" />
		insert into wxuser (NAME, PHONE, PASSWORD, ROLE, CREATETIME, UPDATETIME, ENABLE)
		values (#{name}, #{phone}, #{password}, #{role}, #{currentTime}, #{currentTime}, 1)
		<selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
	</insert>
	<select id="checkExists" parameterType="String" resultType="java.lang.Integer">
		select count(*) from wxuser u where u.PHONE=#{phone}
	</select>
	<select id="getByPhoneAndPassword" parameterType="java.lang.String" resultType="com.autoinspection.polaris.model.entity.WXUserEntity">
		select * from wxuser u where u.PHONE=#{phone} and u.PASSWORD=#{password}
	</select>
	<update id="updateUser">
		update wxuser set name=#{name}, phone=#{phone} where id = #{id}
	</update>
	<select id="getByPhone" parameterType="java.lang.String" resultType="com.autoinspection.polaris.model.entity.WXUserEntity">
		select count(*) from wxuser u where u.PHONE=#{phone}
	</select>
</mapper>