<ul class="breadcrumb">
	<li>
		<a href="#">首页</a>
	</li>
	<li class="active">基础信息维护</li>
	<li class="active">客户维护</li>
</ul>
<div class="page-content-wrap page-tabs-item active" id="allRoles">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<form class="form-horizontal" role="form">
						<div class="row">
							<div class="col-xs-10">
								<div class="col-xs-8 pull-left">
									<div class="form-group">
										<label class="col-md-4 control-label">客户名称／代码</label>
										<div class="col-md-8">
											<input type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-2 ">
								<button type="button" class="btn btn-info ">搜索</button>
								<button type="button" class="btn btn-info ">新增</button>
							</div>
						</div>
					</form>
				</div>
				<div class="page-content-wrap">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body ">
									<div class="table-responsive">
										<table class="table table-bordered table-striped table-actions " style="text-align: center">
											<thead>
												<tr>
													<th style="text-align: center">编号</th>
													<th style="text-align: center">客户名称</th>
													<th style="text-align: center">客户代码</th>
													<th style="text-align: center">联系人</th>
													<th style="text-align: center">联系方式</th>
													<th style="text-align: center">地址</th>
													<th style="text-align: center">销售</th>
													<th style="text-align: center">操作</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>第一客户</td>
													<td>20170902</td>
													<td>魏博文</td>
													<td>18766312029</td>
													<td>辽宁省大连市旅顺口区</td>
													<td>22</td>
													<td>
														<button type="button" class="btn btn-info">删除</button>
														<button type="button" class="btn btn-info">编辑</button>

													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="panel-footer">
									<ul class="pagination pagination-sm pull-right">
										<li class="disabled">
											<a href="#">&laquo;</a>
										</li>
										<li>
											<a href="#">1</a>
										</li>
										<li>
											<a href="#">2</a>
										</li>
										<li>
											<a href="#">3</a>
										</li>
										<li>
											<a href="#">4</a>
										</li>
										<li class="active">
											<a href="#">8</a>
										</li>
										<li>
											<a href="#">&raquo;</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../js/roleList.js"></script>