<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>

    <title>汽车管家-全球顶尖供应链协同管理平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" id="theme" href="../css/theme-default.css"/>
</head>
<body>
<div class="error-container">
    <div class="error-code">404</div>
    <div class="error-text">对不起.. 页面没有找到!</div>
    <div class="error-subtext">对不起我们未能帮您找到您请求的网页，请您检查网址重新输入或稍等后刷新页面</div>
    <div class="error-actions">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-info btn-block btn-lg" onClick="document.location.href = 'index.html';">回到首页</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block btn-lg" onClick="history.back();">前一页</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>






