<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>玖通轮胎管家-全国轮胎租赁领军企业</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link href="../css/plugin/bootstrap/bootstrap.min.css" rel="stylesheet" >
		<link href="../css/plugin/bootstrap/register.css" rel="stylesheet" >
		<link href="../css/base.css" rel="stylesheet" >
	</head>

	<body>
		<form >
			<div class="registerBg"> 
				<div class="container top-50">
				  	<div class="photograph"> 
				  		<span><img src="../images/views/logo.png" width="100%" height="100%"></img></span>
				    </div>
					    <div class="input-group top-50 login_btn"  > 
					        <span class="input-group-addon addon-border" style="background: rgba(255,255,255,0.30);border: 0 solid #FFFFFF"><img alt="登录" src="../images/login/account.png"></span>
					        <input id="phone" type="text" class="input-border form-control " placeholder="请输入用户名" style="background: rgba(255,255,255,0.30);border: 0 solid #FFFFFF">
					    </div>
					    <div class="input-group login_btn"> 
					      	<span class="input-group-addon addon-border" style="background: rgba(255,255,255,0.30);border: 0 solid #FFFFFF"><img  alt="密码" src="../images/login/password.png"></span>
					        <input id="password" type="password" class="form-control input-border" placeholder="请输入密码" style="background: rgba(255,255,255,0.30);border: 0 solid #FFFFFF">
					    </div>
					    <div class="input-group login_btn_word">
					      	<a href="register.html"  class=""><span class="once" >注册</span></a>
					    </div>
					   	<button type="button" class="btn btn-default btn-block btn-border red_btn login_btn btn_color"  id="loginBtn">登录</button>
				</div>
			</div>
		</form>
		<script src="../js/mui.min.js"></script>
		<script src="../js/core/jquery-2.1.1.min.js"></script>
		<script src="../js/core/global.js"></script>
		<script src="login.js"></script>
		
	</body>

</html>