<head>
	<title>玖通轮胎-全球顶级轮胎租赁平台</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="../css/jstree/jstree.min.css" />
	<link rel="stylesheet" type="text/css" id="theme" href="../css/theme-default.css" />
	<style>
		.page-container .page-content {
			min-height: 100%;
			position: relative;
			margin-left: 0px;
			zoom: 1;
		}
		
		.panel .panel-title {
			font-size: 16px;
			font-weight: 400;
			line-height: 30px;
			display: block;
			float: none;
			color: #434a54;
		}
	</style>
</head>
<header>
	<h1 style="text-align: center;">添加检测</h1>
</header>

<body>
	<div class="page-container">
		<div class="page-content">
			<div id="mainBody">
				<div class="panel-body ">
					<div class="row">
						<div class="col-xs-4">
						</div>
						<div class="col-xs-4">
							<div class="panel panel-primary">
								<div class="panel-heading" style="text-align: center;">
									<h3 class="panel-title center">车辆示意图</h3>
								</div>
								<div class="panel-body" id="first" hidden="hidden">
									<div class="row">
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">3</button>
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">B1</button>
										</div>
									</div>
									<div class="row" style="margin-top:10px;">
										<div class="col-xs-2">
											<button class="btn btn btn-primary">1</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">4</button>
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">B2</button>
										</div>
									</div>
									<div class="row" style="margin-top:10px;">
										<div class="col-xs-2">
											<button class="btn btn btn-primary">2</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">5</button>
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
									</div>
									<div class="row" style="margin-top:10px;">
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">6</button>
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
									</div>
								</div>

								<div class="panel-body" id="second">
									<div class="row">
										<div class="col-xs-2">
											<button class="btn btn btn-primary">1</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">5</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">9</button>
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">B1</button>
										</div>
									</div>
									<div class="row" style="margin-top:10px;">
										<div class="col-xs-2">
											<button class="btn btn btn-primary">2</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">6</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">10</button>
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">B2</button>
										</div>
									</div>
									<div class="row" style="margin-top:10px;">
										<div class="col-xs-2">
											<button class="btn btn btn-primary">3</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">7</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">11</button>
										</div>
										<div class="col-xs-2">
										</div>
									</div>
									<div class="row" style="margin-top:10px;">
										<div class="col-xs-2">
											<button class="btn btn btn-primary">4</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">8</button>
										</div>
										<div class="col-xs-2">
											<button class="btn btn btn-primary">12</button>
										</div>
										<div class="col-xs-2">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>
							<table class="table table-bordered table-striped table-action">
								<tr>
									<td width="200">里程表读数</td>
									<td class="text-center"><input id="milometer" type="number"></input>
									</td>
									<td width="200">服务里程</td>
									<td class="text-center"><input id="serviceMile" type="number"></input>
									</td>
									<td width="200">检测人</td>
									<td class="text-center"><span id="operatorName"></span>
									</td>
									<td width="200">日期</td>
									<td class="text-center"><span id="createTime"><span>
							</td>
						</tr>
					</table>
					<table class="table table-bordered table-striped table-actions " style="text-align: center">
						<thead>
							<tr>
								<th style="text-align: center">轮位</th>
								<th style="text-align: center;">轮胎条码</th>
								<th style="text-align: center;" width="200">品牌</th>
								<th style="text-align: center;">花纹</th>
								<th style="text-align: center;" width: "50">胎压</th>
								<th style="text-align: center;">磨损</th>
								<th style="text-align: center;">刹车</th>
							</tr>
						</thead>
						<tbody id="tBody">
							<tr>
								<td> <input id="tirePosition" value="1"></input>
								</td>
								<td><input id="tireId"></input>
								</td>
								<td width="200">
									<select class="form-control select" id="tireBrand" >
										<option value="0">请选择</option>
										<option value="1">普利司通</option>
										<option value="2">米其林</option>
										<option value="3">固特异</option>
										<option value="4">倍耐力</option>
										<option value="5">三角集团</option>
										<option value="6">住友橡胶</option>
										<option value="7">横滨橡胶</option>
										<option value="8">韩泰轮胎</option>
									</select>
									<input style="display:none"></input>
								</td>
								<td><input id="stripe"></input>
								</td>
								<td><input id="pressure"></input>
								</td>
								<td><input id="depth"></input>
								</td>
								<td><input id="brake"></input>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<div class="col-xs-4">
					</div>
					<div class="col-xs-4">
						<div class="col-xs-6">
							<button class="btn btn btn-primary btn-block" onclick="addRecordTeam.service.addtr()">添加</button>
						</div>
						<div class="col-xs-6">
							<button class="btn btn btn-primary btn-block" onclick="addRecordTeam.service.doSave()">保存</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script src="../js/mui.min.js"></script>
	<script src="../js/core/jquery-2.1.1.min.js"></script>
	<script src="../js/core/global.js"></script>
	<script src="addRecordTeam.js"></script>
</body>

</html>